.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 128px;
  margin: 0 auto;
}

.loader {
  margin-top: 240px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
