.commentsContainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.commentsCount {
  margin-left: 4px;
  margin-bottom: 0.5rem;
}

.author {
  margin-right: 8px;
}
