.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  min-height: calc(100vh - 64px);
  padding-top: 64px;
}

.footer {
  text-align: center;
}
