.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px 32px;
  height: 100%;
  margin-bottom: 24px;

  @media (max-width: 646px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 646px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
